<div class="flex flex-col items-center gap-12 text-center m-16">
  <div class="mb-6 bg-primary-100 p-2 rounded-lg text-primary-700 shadow">
    <label for="expression" class="block text-sm font-medium mb-2"
      >Enter Logical Expression:</label
    >
    <input
      type="text"
      id="expression"
      class="w-full px-3 py-2 text-box bg-primary-400 text-white"
      placeholder="e.g., a&b|c"
      (keydown.enter)="onEvaluate(expressionInput)"
      #expressionInput
    />
  </div>
  <div class="w-full max-w-6xl flex">
    <button class="pale-button" (click)="onEvaluate(expressionInput)">
      Evaluate
    </button>
  </div>
  @if (errMsg() !== '') {
  <p class="text-primary-700">{{ errMsg() }}</p>
  }
  <div class="bg-primary-100 p-2 rounded-lg shadow">
    <table
      class="w-full max-w-6xl table-fixed border-collapse shadow-lg rounded-lg overflow-hidden"
    >
      <thead>
        <tr class="bg-primary-400">
          @for (header of headers(); track $index) {
          <th
            class="text-white font-bold text-sm px-6 py-3 tracking-wider w-[calc(100%/_{{headers().length}})]"
          >
            {{ header }}
          </th>
          }
        </tr>
      </thead>
      <tbody>
        @for (row of data(); track $index) {
        <tr class="bg-primary-200 even:bg-gray-100 hover:bg-primary-300">
          @for (value of row; track $index) {
          <td
            class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 border-t border-gray-200 text-center"
          >
            {{ value }}
          </td>
          }
        </tr>
        }
      </tbody>
    </table>
  </div>
  <button class="pale-button" [routerLink]="['/topic/0']">Back</button>
</div>
